body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search{
  align-items: center;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
}

.btn-search{
  border-style: none;
  height: fit-content;
  width: auto;
}
.searchInput{
  width: 33%;
  border-style: none;
  height: auto;
  color: black;
}